<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentes :: html_head ('Quên mật khẩu')">
</head>
<body>
<!-- back to top -->
<div th:replace="fragmentes :: back_to_top"></div>
<!--    header-->
<div th:replace="fragmentes :: header"></div>
<!-- nav -->
<nav th:replace="fragmentes :: navbar"></nav>


<!-- start body -->
<div class="body py-5">
  <div class="container">
    <!-- login form -->
    <div class="auth-form col-sm-12 col-lg-6">
      <div class="auth-form-header justify-content-center">
        <h4  class="fw-normal mb-0 text-center">QUÊN MẬT KHẨU</h4>
      </div>
      <div class="auth-form-body">
        <div class="auth-form-group">
          <input type="email" class="form-control auth-form-input" id="reset-email"  placeholder="Email">
          <p class="mb-0" id="feedback" hidden></p>
        </div>
        <div class="auth-form-link">
          <a href="/login" class="text-decoration-none text-dark">
            Quay lại đăng nhập
          </a>
        </div>
      </div>
      <div class="auth-form-footer">
        <button class="btn btn-dark btn-auth-form" id="reset-btn">
          Lấy mật khẩu
          <span class="spinner-border spinner-border-sm" role="status" id="spinner-loading" hidden></span>
        </button>
      </div>
    </div>

  </div>
</div>
<!-- end body -->


<!-- start footer -->
<div th:replace="fragmentes :: footer"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="./assets/js/main.js"></script>
<script src="./assets/js/forgetpassword.js"></script>
</body>

</html>