<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html_head (title)">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta
        property="og:image"
        content="static/assets/img/logo.png"
    >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">PAD Shop</title>
    <link rel="icon" th:href="@{/assets/img/icon.png}" type="image/icon type">

    <!-- css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">

    <!--    js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
<!--Back to top-->
<div id="btn-back-to-top" class="btn border border-dark" th:fragment="back_to_top">
    <i class="fas fa-arrow-up "></i>
</div>

<!--    header-->
<div class="header bg-light " th:fragment="header">
        <div class="container d-flex justify-content-between h-100 align-items-center">
            <div class="topLeft">
                <i class="fa-solid fa-phone"></i>
                0813.875.118
            </div>

            <!-- account logined -->
            <div class="d-flex topRight">

                <a href="/manage" class="header-link" sec:authorize="hasRole('ADMIN')">
                    <i class="fa-solid fa-briefcase"></i>
                    Quản lý
                </a>

                <!-- account logined -->
                <div class="topRight" id="top-right1" th:value="${#request.remoteUser}" th:if="${#request.remoteUser != null}">
                    <a th:href="@{/user/profile}" class="header-link" id="header-account">
                        <i class="fa-solid fa-user"></i>
                        [[${#request.remoteUser}]]
                    </a>
                    <a th:href="@{/logout}" class="header-link">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        Đăng xuất
                    </a>
                </div>

                <!-- account not login -->
                <div class="topRight" id="top-right2" th:if="${#request.remoteUser == null}">
                    <a href="/login" class="header-link">
                        <i class="fa-solid fa-user" ></i>
                        Tài khoản
                    </a>
                </div>

                <a th:href="@{/cart}" class="header-link">
                    <i class="fa-solid fa-bag-shopping"></i>
                    Giỏ hàng
                </a>
            </div>

        </div>

    </div>

<!--navbar-->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" th:fragment="navbar">
    <div class="container d-flex">
        <a href="/" class="navbar-brand">
            <img
                    class="d-inline-block"
                    th:src="@{/assets/img/icon.png}"
                    alt="" width="50" height="50"
            />
            
        </a>

        <button
                type="button"
                class="navbar-toggler"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navitation"
        >
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav flex-grow-1 justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/">trang chủ</a>
                </li>

                <li class="nav-item  dropdown">
                    <a
                            class="nav-link dropdown-toggle active"
                            id="navbarDropdown"  role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            href="#">
                      Bánh sinh nhật
                    </a>
                    <ul
                            class="dropdown-menu"
                            aria-labelledby="navbarDropdown">
                        <li >
                            <a href="/GATEAUX-kem-tuoi" class="dropdown-item">GATEAUX Kem Tươi</a>
                        </li>
                        <li >
                            <a href="/GATEAUX-kem-bo" class="dropdown-item">GATEAUX Kem Bơ</a>
                        </li>
                        <li >
                            <a href="/VALENTINE-trai-tim" class="dropdown-item">Bánh VALENTINE - Trái Tim</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item  dropdown">
                    <a
                            class="nav-link dropdown-toggle active"
                            id="navbarDropdown"  role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            href="#">
                        BÁNH MỲ & BÁNH MẶN
                    </a>
                    <ul
                            class="dropdown-menu"
                            aria-labelledby="navbarDropdown">
                        <li >
                            <a href="/banh-my" class="dropdown-item">Bánh Mỳ</a>
                        </li>
                        <li >
                            <a href="/banh-man" class="dropdown-item">Bánh Măn</a>
                        </li>
                      
                    </ul>
                </li>

                <li class="nav-item  dropdown">
                    <a
                            class="nav-link dropdown-toggle active"
                            id="navbarDropdown"  role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            href="#">
                        COOKIES & MINICAKE
                    </a>
                    <ul
                            class="dropdown-menu"
                            aria-labelledby="navbarDropdown">
                        <li >
                            <a href="/cookies" class="dropdown-item">COOKIES</a>
                        </li>
                        <li >
                            <a href="/minicake" class="dropdown-item">MINI CAKE</a>
                        </li>
                      
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">tin tức</a>
                </li>
            </ul>

            <form th:action="@{/search}" method="get" class="d-flex nav-search">
                <input type="search" class="form-control rounded search-input"
                       name="q" placeholder="Tìm kiếm..." aria-label="Search" aria-describedby="search-addon" />
                <button type="submit" class="btn btn-outline-dark search-btn" id="search-btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>

        </div>


    </div>
</nav>

<!--footer-->
<div th:fragment="delete-confirm">
    <div class="modal fade" id="del-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-0">
                </div>
                <div class="modal-body">
                    <p class="text-danger fw-bold text-center">Bạn có chắc chắn muốn xóa?</p>
                    <p class="text-center">Sau khi xóa dữ liệu sẽ không thể khôi phục.</p>
                </div>
                <div class="modal-footer border-0 d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary w-25" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-danger w-25" id="del-comfirm-btn" data-bs-dismiss="modal">Xóa</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer bg-light" th:fragment="footer">
    <div class="container innter-footer border-bottom border-2">
        <div class="list-innerfooter row">
        	<div class="col-lg-3 col-md-6 item-innerfooter ">
                <h6 class="text-uppercase footer-title">CodeFresher</h6>
                <div class="footer-content mt-3">
                    <img src="assets/img/logo.png"
                            width="250" height="150" style="border:none;overflow:hidden"
                        >
                </div>
            </div>
            <div class="col-lg-3 col-md-6 item-innerfooter">
                <h6 class="text-uppercase footer-title">Sản phẩm</h6>
                <div class="footer-content">
                    <p>
                        <a href="" class="">GATEAUX KEM TƯƠI</a>
                    </p>
                    <p>
                        <a href="" class="">GATEAUX KEM BƠ</a>
                    </p>
                    <p>
                        <a href="" class="">BÁNH VALENTINE TRÁI TIM</a>
                    </p>
                    <p>
                        <a href="" class="">BÁNH MỲ</a>
                    </p>
                    <p>
                        <a href="" class="">BÁNH MẶN</a>
                    </p>
                    <p>
                        <a href="" class="">COOKIES</a>
                    </p>
                    <p>
                        <a href="" class="">MINI CAKE</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 item-innerfooter">
                <h6 class="text-uppercase footer-title">về chúng tôi</h6>
                <div class="footer-content">
                    <p class="fw-bold">
                        CodeFresher Shop
                    </p>
                    <p>
                        <i class="fa-solid fa-location-crosshairs"></i>
                        Xã Hồng Phong, Huyện Vũ Thư, Tỉnh Thái Bình
                    </p>
                    <p>
                        <i class="fa-solid fa-phone"></i>
                        0813.875.118
                    </p>
                    <p>
                        <i class="fa-regular fa-envelope"></i>
                        vantuyen24032001@gmail.com
                    </p>
                    <p>
                        Theo dõi chúng tôi:
                        <a href="" class="">
                            <i class="fa-brands fa-facebook-square"></i>
                        </a>
                        <a href="" class="">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="" class="">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                        <a href="" class="">
                            <i class="fa-brands fa-tiktok"></i>
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 item-innerfooter">
                <h6 class="text-uppercase footer-title">hỗ trợ khách hàng</h6>
                <div class="footer-content">
                    <p>
                        <a href="" class="">Hướng dẫn mua hàng</a>
                    </p>
                    <p>
                        <a href="" class="">Hướng dẫn chọn size</a>
                    </p>
                    <p>
                        <a href="" class="">Phương thức thanh toán</a>
                    </p>
                    <p>
                        <a href="" class="">Chính sách vận chuyển</a>
                    </p>
                    <p>
                        <a href="" class="">Chính sách đổi trả</a>
                    </p>
                    <p>
                        <a href="" class="">Chính sách bảo mật</a>
                    </p>
                </div>
            </div>
            
        </div>
    </div>

</div >

</body>
</html>